{% extends 'accounts/base.html' %}
{% block title %}Change Password {% endblock %}
{% block content %}        
    <form method="POST" action="{% url 'changePassword' %}" class="form-group  m-auto mt-5 w-50 shadow p-3 mb-5 bg-white rounded">
        {% csrf_token %}
        <h1 class="text-center">New Password</h1>
        <small class="text-info p-2">You will be redirected to Home Page if Password change is Successful</small>
        {% for msg in messages %}
            <p class="text-danger">{{msg}}</p>
        {% endfor %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="password">Old Password</label>
            <input type="password" class="form-control" id="old-password" name="old-password" placeholder="Enter Old Password">
        </div>
        <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" class="form-control" id="new-password" name="new-password" placeholder="Enter New Password">
        </div>
        <div class="text-center">
            <input type="submit" value="Submit" class="btn btn-info ">
        </div>
    </form>

    <p class="text-center">New User ! <a href="{% url 'registerForm' %}">Register Here</a></p>
{% endblock %}