{% extends 'accounts/base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
        
    <form method="POST" action="{% url 'loginForm' %}" class="form-group  m-auto mt-5 w-50 shadow p-3 mb-5 bg-white rounded">
        {% csrf_token %}
        <h1 class="text-center">Login</h1>
        <!-- {{form.errors}} -->
        {% for msg in messages %}
            <p class="text-danger">{{msg}}</p>
        {% endfor %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
        </div>
        <div class="text-center">
            <input type="submit" value="Submit" class="btn btn-info ">
        </div>
    </form>

    <p class="text-center">New User ! <a href="{% url 'registerForm' %}">Register Here</a></p>
{% endblock %}